node_modules
dist

# Keep environment variables out of version control
.env
.env.local
.env.production

# Prisma
/src/generated/prisma

# IDE
.vscode
.idea

# OS
.DS_Store

# Logs
*.log
npm-debug.log*
